---
import Layout from '../../layouts/Layout.astro';

import { Accomodations } from '../../components/Accomodations';

import {getCollection} from 'astro:content'
import Banner from '../../components/Banner.astro';

export async function getStaticPaths() {
    const standorte = await getCollection('standorte');
    return standorte.map(entry => {
        return {
            params: {
                slug: entry.slug
            },
            props: {entry}
        }
    });
};

const {entry} = Astro.props;
const {Content} = await entry.render()

---

<Layout title={entry.data?.title} description={entry.data?.description}>
    
    <div class="container">
        <Accomodations client:load view="grid" location={entry.data.location}/>
    </div>
    <Banner />
    <div class="container mt-16">
        <Content />
    </div>
</Layout>