---
import ProductGrid from '../components/Products/ProductGrid';
import Layout from '../layouts/Layout.astro';
import {getCollection} from 'astro:content'

export const prerender = true;

export async function getStaticPaths() {
    const standorte = await getCollection('teaser');
    return standorte.map(entry => {
        return {
            params: {
                slug: entry.slug
            },
            props: {entry}
        }
    });
};

const {entry} = Astro.props;
const {Content} = await entry.render()
---

<Layout title="Startseite" description="Startseite">
	<main class="container mx-auto px-4 md:px-6">
        <h1 class="block text-center text-biggest ">{entry?.data.name}</h1>
        
        <div class="my-4" id="content">
            <Content />
        </div>
	</main>
</Layout>